.direct-chat-text {
    margin: 5px 50px 0px 0px !important;
}

.right .direct-chat-text {
    margin-right: 0px !important;
    margin-left: 50px !important;
}

.direct-chat-messages {
    height: 454px;
    overflow-x: hidden;
    overflow-y: auto;
}