@model WEB.Areas.MeiosDivulgacao.ViewModels.MeioDivulgacaoForm

@{
    Layout = "~/views/shared/associatec/masterpage-edit.cshtml";
    ViewBag.titlePage = "Meio de Divulgação";
    ViewBag.subTituloPagina = Model.MeioDivulgacao.descricao;
}

@section navTabs{
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
	</ul>
}

@section tabContent{
    <div id="tab-1" class="tab-pane active">
        
        @Html.infoCadastro(Model.MeioDivulgacao.id, Model.MeioDivulgacao.dtCadastro, Model.MeioDivulgacao.dtAlteracao)

        @{Html.RenderPartial("partial-dados-principais");}

    </div>
}

