@model DAL.ConfiguracoesAssociados.ConfiguracaoAssociadoCampo
@using MvcFlashMessages

@{
    Layout = "~/views/shared/associatec/masterpage-modal.cshtml";
    ViewBag.modalWidthClass = "lg";
    ViewBag.modalTitle = "Configuração das opções do campo";
}

<div id="modalCampoOpcao">
    
    @Html.RenderFlash()

    @if (Model != null) {
        <div class="col-sm-12">

            <div id="partialLoadFormCampoOpcao" class="carregando content-load" data-url="@Url.Action("partial-form-opcao", "ConfiguracaoAssociadoCampoOpcao", new { idCampo = Model.id})"></div>
            
            <div class="clearfix"></div><br/>

            <div id="partialLoadListaCampoOpcao" class="carregando content-load" data-url="@Url.Action("partial-lista-opcao", "ConfiguracaoAssociadoCampoOpcao", new { idCampo = Model.id })"></div>

        </div>
        <div class="clearfix"></div>
    }
</div>