<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    
    <connectionStrings>
        <add name="STDefaultConnection" connectionString="Server=devsqlexpress01.cxaolcyhqfj4.us-east-1.rds.amazonaws.com;Database=db_linkei;User ID=sinctec-teste;Password=123teste;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="owin:AutomaticAppStartup" value="false" />
        <add key="MvcFlashMessages/IsClosable" value="true" />
        <!-- Sistema Settings -->
        <add key="flagAmbiente" value="D" />
        <add key="flagProducao" value="N" />
        <add key="emailSendBug" value="selecao@sinctec.com.br" />
        <!--<add key="pathRaiz" value="G:\Projetos\Sinctec\Applications\aplicacao-teste\WEB.Sistema\" />
        <add key="pathAbsTempFiles" value="G:\Projetos\Sinctec\Applications\aplicacao-teste\Shared\temp\" />-->
        <add key="pathRaiz" value="C:\Elano\projetos\Testes\sinctec-teste\WEB.Sistema\" />
        <add key="pathAbsTempFiles" value="C:\Elano\projetos\Testes\sinctec-teste\Shared\temp\" />

        <!-- Config -->
        <add key="qtdeEmailsPorEnvio" value="30" />
        <add key="nomeAplicacaoResumido" value="SINCTEC" />
        <add key="nomeAplicacaoCompleto" value="SINCTEC" />
        <add key="nomeOrganizacao" value="SINCTEC" />
        <add key="pastaOrganizacao" value="DEFAULT" />

        <!-- Mail Settings -->
        <add key="mailFromDefault" value="hospedagem@sinctec.com.br" />
        <add key="mailName" value="Linkei" />
        <add key="mailCopy" value="" />
        <add key="mailSMTPHost" value="mail.sinctec.com.br" />
        <add key="mailSMTPPort" value="587" />
        <add key="mailDefaultTransport" value="smtp" />
        <add key="mailSMTPLogin" value="hospedagem@sinctec.com.br" />
        <add key="mailSMTPPassword" value="123mudar" />
    </appSettings>
    <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>
        <sessionState mode="Custom" customProvider="LocklessInProcSessionStateStore" cookieless="false" timeout="1" >
            <providers>
                <add name="LocklessInProcSessionStateStore" type="WEB.App_Infrastructure.Core.LocklessInProcSessionStateStore" />
            </providers>
        </sessionState>
        <httpRuntime targetFramework="4.5" maxRequestLength="30480" />
        <globalization culture="pt-BR" uiCulture="pt-BR" />
        <customErrors mode="Off" defaultRedirect="~/Erros/erro/error500">
            <error statusCode="401" redirect="~/Erros/erro/error401" />
            <error statusCode="403" redirect="~/Erros/erro/error403" />
            <error statusCode="404" redirect="~/Erros/erro/error404" />
            <error statusCode="500" redirect="~/Erros/erro/error500" />
        </customErrors>
        <compilation debug="true" targetFramework="4.6.1" />
        <authentication mode="Forms">
            <forms loginUrl="~/permissao/login" timeout="60" />
        </authentication>
        <caching>
            <outputCache enableOutputCache="false" />
        </caching>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.12.0.0" newVersion="1.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="PagedList" publicKeyToken="abbb863e9397c5e1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
           <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
        </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />

        </providers>
    </entityFramework>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- maxAllowedContentLength, for IIS, in bytes limite 20MB -->
                <requestLimits maxAllowedContentLength="30971520" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="OutputCache" />
            <remove name="WindowsAuthentication" />
            <remove name="FormsAuthentication" />
            <remove name="PassportAuthentication" />
            <remove name="RoleManager" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
            <remove name="AnonymousIdentification" />
            <remove name="Profile" />
            <remove name="AnonymousAuthentication" />
        </modules>

        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcPrecoPrazoWSSoap" />
                <binding name="FachadaWSSGSSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FachadaWSSGSSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding"
                      bindingConfiguration="CalcPrecoPrazoWSSoap" contract="CorreiosWS.CalcPrecoPrazoWSSoap"
                      name="CalcPrecoPrazoWSSoap" />
            <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"
                      binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding"
                      contract="BancoCentral.Cotacoes.FachadaWSSGS" name="FachadaWSSGS" />
        </client>
    </system.serviceModel>

    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      warningLevel="4"
                      compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
        </DbProviderFactories>
        
        
    </system.data>
    
</configuration>