<div class="input-group ">
	<input type="text" name="buscarEmail" id="buscarEmail" class="form-control input-sm" value="" />
	<span class="input-group-addon">
		<a href="javascript:void(0);" onclick="CorreioInterno.buscarNovosEmails(false);"><i class="fa fa-search"></i></a>
	</span>
</div>
