@{
    Layout = "~/views/shared/associatec/masterpage-modal.cshtml";
    ViewBag.modalWidthClass = "lg";
    ViewBag.modalTitle = "Recorte de Imagem";
}

<div class="popup__body text-center"><div class="js-img"></div></div>
<div class="margin-top-10 text-center">
    <div class="js-upload btn btn-primary btn_browse_small">Confirmar</div>
</div>