@model WEB.Areas.Portais.ViewModels.PortalForm

@if(Model.Portal.id > 0) {
    <div class="form-horizontal">
        <div class="col-md-1">
            <label>ID</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Portal.id" />
        </div>
        <div class="col-md-2">
            <label>Cadastrado em:</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Portal.dtCadastro.exibirData(true)" />
        </div>
        <div class="col-md-2">
            <label>Alterado em:</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Portal.dtAlteracao.exibirData(true)" />
        </div>
        <div class="clearfix"></div>
    </div>
}