@{
    Layout = null;
}

<form action="#" method="get" class="sidebar-form consulta-rapida">
    
    <div class="input-group">
        <input id="campoBuscaRapida" type="text" name="valorBusca" class="form-control" autocomplete="off" placeholder="Nro da Conta ou Nome..."/>
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <div class="clearfix"></div>

    <div id="boxPesquisaRapida" class="panel panel-default">

        <div class="panel-heading">
            <i class="fa fa-search"></i> Pesquisar
        </div>

        <div id="boxPesquisaRapidaResultados" class="panel-body no-padding">

            

        </div>
        <div class="clearfix"></div>

    </div>

</form>

