@model DAL.Pessoas.Pessoa

<div>
    <strong>Qtd. Funcionários CLT: </strong> @Model.qtdeEmpregadosCLT.toInt()
</div>

<div>
    <strong>Qtd. Funcionários Terceirizados: </strong> @Model.qtdeEmpregadosTerceiros.toInt()
</div>

<div>
    <strong>Qtd. Estagiários: </strong> @Model.qtdeEstagiarios.toInt()
</div>

<div>
    <strong>Qtd. Menores Aprendizes: </strong> @Model.qtdeMenorAprendiz.toInt()
</div>
