@model WEB.Areas.Instituicoes.ViewModels.InstituicaoForm
@{
    Layout = "~/views/shared/associatec/masterpage-edit.cshtml";

    ViewBag.titlePage = "Instituição";
    ViewBag.subTituloPagina = Model.Instituicao.descricao;

}

@section navTabs{
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab-1" data-toggle="tab">Principal</a></li>
	</ul>
}

@section tabContent{
    <div id="tab-1" class="tab-pane active">

        @Html.infoCadastro(Model.Instituicao.id, Model.Instituicao.dtCadastro, Model.Instituicao.dtAlteracao)

        @{Html.RenderPartial("partial-dados-principais");}

    </div>
}

