<aside class="main-sidebar">
    <section class="sidebar">
        
        @{ Html.RenderPartial("~/Areas/Associados/Views/associadobusca/pesquisa-rapida.cshtml"); }

        <div id="boxMenu"></div>
    </section>
    <!-- /.sidebar -->
</aside>
