@model DAL.Associados.Associado

<div class="tab-pane" id="tab-veiculos">
    <h4 class="separator-form-icon">
        <i class="far fa-edit"></i> Veículos Cadastrados
        @*
        <span class="pull-right fs-14">
            <a href="@Url.Action("editar", "Veiculo", new { Area = "Veiculos", ida = Model.id })" target="_blank"><i class="far fa-plus-circle"></i> Cadastrar Veículo</a>
        </span>
    *@
    </h4>
    <div class="clearfix"></div><br/>
</div>