<div class="tab-pane" id="tab-outras-organizacoes">
    
    <div class="content-load carregando" data-url="@Url.Action("partial-informacoes-adicionais", "AssociadoOrganizacao", new { Area = "AssociadosOrganizacoes", id = Model.id })"></div>
    
</div>