@model WEB.Areas.Configuracao.ViewModels.ConfiguracoesVM

<div class="col-md-4">
	<a href="javascript:;" class="btn btn-primary btn-lg" onclick="ConfiguracaoManutencao.removerCacheDados();">
		<span><i class="far fa-sync"></i> Limpar Cache de Dados</span>
	</a>
</div>
<div class="clearfix"></div><br />
<hr />