<div class="btn-group">
	<button class="btn btn-default btn-sm checkbox-toggle" data-toggle="tooltip" title="Selecionar Todos" onclick="CorreioInterno.marcarEmails()"><i class="fa fa-square-o"></i></button>
	<button class="btn btn-default btn-sm" data-toggle="tooltip" title="Restaurar Mensagem" onclick="CorreioInterno.restaurarMensagem()"><i class="fa fa-recycle" ></i></button>
</div>
