<div class="btn-group">
	<button class="btn btn-default btn-sm checkbox-toggle" data-toggle="tooltip" title="Selecionar Todos" onclick="CorreioInterno.marcarEmails()"><i class="far fa-square"></i></button>
	<button class="btn btn-default btn-sm"><i class="fa fa-trash" data-toggle="tooltip" title="Mover para lixeira" onclick="CorreioInterno.enviarParaLixeiraLote();"></i></button>
	<button class="btn btn-default btn-sm"><i class="fa fa-share" data-toggle="tooltip" title="Encaminhar Mensagem" onclick="CorreioInterno.encaminharEmLote();"></i></button>
	<button class="btn btn-default btn-sm" onclick="CorreioInterno.buscarNovosEmails(true)"><i class="fa fa-spinner" id="btAtualizarCaixa" data-toggle="tooltip" title="Enviar e Receber"></i></button>
</div>
