@{
    ViewBag.modalTitle = "Localização da Ocorrência";
    Layout = "~/views/shared/sinclog/masterpage-modal.cshtml";
}

<div class="col-ms-12">
    <div id="mapaGoogle" class="row" style="height: 400px">

    </div>
</div>
<div class="clearfix"></div>