@using Newtonsoft.Json
@model dynamic
@{
    string json = JsonConvert.SerializeObject(Model);
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div style="padding: 20px;">
      @Html.Raw(json.nl2br().Replace("\\n", "<br />"))
</div>
</body>
</html>