@model WEB.Areas.Atendimentos.ViewModels.AtendimentoAcaoMensagemForm
    
@{ 
    Layout = "~/views/shared/associatec/masterpage-modal.cshtml";

    if (IsPost) {

        Layout = null;

    }

    ViewBag.modalTitle = "Registrar espera de retorno";
}

<div id="boxAguardarRetorno">
    
    @using (Ajax.BeginForm("registrar-mensagem", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "boxAguardarRetorno", OnSuccess = "AtendimentoAcao.onSuccessForm" })) {

        { Html.EnableClientValidation(false); }

        @Html.HiddenFor(m => m.AtendimentoHistorico.idAtendimento)

        <div class="row">

            <div class="col-xs-12">
                @Html.labelRequired("Observações")
                @Html.TextAreaFor(m => m.AtendimentoHistorico.mensagem, new { @class = "form-control input-sm", rows = 5 })
                @Html.ValidationMessageFor(m => m.AtendimentoHistorico.mensagem)
            </div>
            <div class="clearfix"></div><br />

            <div class="col-xs-12 text-right">
                
                <button class="btn btn-primary link-loading"><i class="far fa-clock"></i> Confirmar</button>

            </div>
            <div class="clearfix"></div>

        </div>

    }

</div>