@model WEB.Areas.ConfiguracoesAssociados.ViewModels.ConfiguracaoAssociadoPJForm

@if(Model.ConfiguracaoAssociadoPJ.id > 0) {
    
    <div class="col-sm-4 col-md-2">
        <label>Cadastro</label>
        @Html.boxInfo(Model.ConfiguracaoAssociadoPJ.dtCadastro.exibirData(true), "text-center")
    </div>
    <div class="col-sm-6 col-md-4">
        <label>Usuário</label>
        @Html.boxInfo(Model.ConfiguracaoAssociadoPJ.UsuarioCadastro?.nome, "text-left")
    </div>
    <div class="clearfix"></div><br/>

}