@model WEB.Areas.Bancos.ViewModels.BancoForm

@if(Model.Banco.id > 0) {
    <div class="form-horizontal">
        <div class="col-md-1">
            <label>ID</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Banco.id" />
        </div>
        <div class="col-md-2">
            <label>Cadastrado em:</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Banco.dtCadastro.exibirData(true)" />
        </div>
        <div class="col-md-2">
            <label>Alterado em:</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Banco.dtAlteracao.exibirData(true)" />
        </div>
        <div class="clearfix"></div>
    </div>
}