@model WEB.Areas.Financeiro.ViewModels.ResultadoFinanceiroAgrupadoVM

@{ 
    var corTipoTitulo = UtilRequest.getString("flagTipoTitulo").Equals("D") ? "red" : "green";
}

<table class="table table-fixed fs-11">
    <thead>
        <tr>
            <th class="col-xs-9">Descrição</th>
            <th class="col-xs-3" width="150">Valor</th>
        </tr>
    </thead>
    <tbody>
    
        @if (!Model.listaGrupos.Any()) {
            <tr>
                <td colspan="2">Nenhum pagamento foi encontrado</td>
            </tr>
        }
        
        @foreach (var OReceita in Model.listaGrupos) {

            <tr>
                <td class="col-xs-9">
                    <span><i class="fa fa-chevron-right"></i> @OReceita.descricao</span><br />
                </td>
                <td class="text-right col-xs-3">
                    @OReceita.valor.ToString("C")
                </td>
            </tr>

        }
        
    </tbody>

    <thead>
        <tr>
            
            <th class="col-xs-9 bg-@corTipoTitulo">
                @Model.listaGrupos.Count() encontrados
            </th>
            
            <th class="col-xs-3 text-right bg-@corTipoTitulo">
                @Model.listaGrupos.Sum(x => x.valor).ToString("C")
            </th>
        
        </tr>
    </thead>

</table>