@model WEB.Areas.Institucionais.ViewModels.ConvenioForm

@if (Model.Convenio.id > 0) {
    <div class="form-horizontal">
        <div class="col-xs-2 col-lg-2">
            <label class="no-margin">ID</label>
            <input type="text" class="form-control input-sm" readonly="readonly" value="@Model.Convenio.id" />
        </div>
        <div class="col-xs-3 col-lg-2">
            <label class="no-margin">Cadastrado em:</label>
            <input type="text" class="form-control input-sm text-center" readonly="readonly" value="@Model.Convenio.dtCadastro" />
        </div>
        <div class="col-xs-3 col-lg-2">
            <label class="no-margin">Alterado em:</label>
            <input type="text" class="form-control input-sm text-center" readonly="readonly" value="@Model.Convenio.dtAlteracao" />
        </div>
    </div>
    
    <div class="clearfix"></div>
}