/* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-custom {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: -4px !important;
    left: auto !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.active-menu {
    display: block !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover
.dropdown-custom:hover .dropdown-content {
    display: block;
}
 */
/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown-custom:hover .dropbtn {
    background-color: #3e8e41;
} */