@using DAL.Entities
@model WEB.Areas.Associados.ViewModels.AssociadoForm

<div class="tab-pane" id="tab-documentos">
    <div class="col-md-5">
        <h4 class="separator-form">Cadastrar Documentos/Arquivos</h4>
        <div id="boxLoadFormDocumentos" class="" data-url="@Url.Action("editar-documento", "arquivo", new {area = "arquivos", idReferencia = Model.Associado.id, entidade = EntityTypes.ASSOCIADO})"></div>
    </div>

	<div class="col-md-offset-1 col-md-6">
		<h4 class="separator-form">Documentos e Arquivos do Associado</h4>
		<div id="boxLoadListaDocumentos" class="" data-url="@Url.Action("listar-galeria-documentos", "arquivo", new { area = "arquivos", idReferencia = Model.Associado.id, entidade = EntityTypes.ASSOCIADO })"></div>
	</div>
	<div class="clearfix"></div><br />

</div>